<h1 mat-dialog-title>Employees</h1>
<div mat-dialog-content>
  <mat-tab-group class="tab-content-wrapped">
    <mat-tab label="Misma oficina y grado">
      <div fxLayout="row wrap" class="mt-2">

      </div>
    </mat-tab>
    <mat-tab label="Todas oficinas en el mismo grado">
      <div fxLayout="row wrap" class="mt-2"></div>
    </mat-tab>
    <mat-tab label="Misma posición y grado">
      <div fxLayout="row wrap" class="mt-2"></div>
    </mat-tab>
    <mat-tab label="Todas las posiciones mismo grado">
      <div fxLayout="row wrap" class="mt-2"></div> </mat-tab
    >
  </mat-tab-group>
  
</div>
<div mat-dialog-actions>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
    <button mat-raised-button color="warn" type="button" mat-dialog-close>
      Close
    </button>
    <button mat-raised-button color="primary" type="submit">Save</button>
  </div>
</div>
