<div class="container">
	<div class="container-loading">
		<div class="loading">
			<div class="loading__letter">C</div>
			<div class="loading__letter">A</div>
			<div class="loading__letter">R</div>
			<div class="loading__letter">G</div>
			<div class="loading__letter">A</div>
			<div class="loading__letter">N</div>
			<div class="loading__letter">D</div>
			<div class="loading__letter">O</div>
			<div class="loading__letter">.</div>
			<div class="loading__letter">.</div>
			<div class="loading__letter">.</div>
		</div>
	</div>
	<div class="boxes">
		<div class="box">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
		<div class="box">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
		<div class="box">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
		<div class="box">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
</div>
